body {
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0;
}

label {
  color: #ecf0f1;
  font-size: 18px;
  margin-bottom: 10px;
}

input, select {
  background-color: #192a3a;
  border: none;
  color: #ecf0f1;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0 0 3px 0 #00bcd4;
}

button {
  background-color: #192a3a;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00bcd4;
}

iframe {
  background-color: #192a3a;
  border: none;
  margin-top: 20px;
  width: 800px;
  height: 50vh;
}
