/* use a modern navy blue background color */
body {
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: 'Nunito-Regular', nunito;
}

/* use a sleek black color for form elements */
label, input, select {
  background-color: #192a3a;
  border: none;
  color: #ecf0f1;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;
}

/* make the button modern and sleek */
button {
  background-color: #192a3a;
  border: none;
  color: #ecf0f1;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00bcd4;
}

/* make the iframe modern and minimalistic */
iframe {
  background-color: #192a3a;
  border: none;
  margin-top: 20px;
  width: 100%;
  height: 50vh;
}
